extends layout.pug

block content
    .container
        h1= clientinfo.name
        table.table
            thead
                tr
                    th(scope='col') DATE
                    th(scope='col') WORKOUT (Y/N)
                    th(scope='col') STEPS
                    th(scope='col') HOURS OF SLEEP
            tbody
                tr
                    th(scope='row') 1 DATE
                    td YES
                    td 3000
                    td 8 HOURS
                tr
                    th(scope='row') 2 DATE
                    td YES
                    td 3000
                    td 8 HOURS
                tr
                    th(scope='row') 3 DATE
                    td YES
                    td 3000
                    td 8 HOURS