extends layout.pug

block content
    .container
        br
        h4.text-center Add Client
        form(method='POST', action='/client/add')
            #form-group
                label Name:
                input.form-control(name='name', type='text')
            #form-group
                label Starting Weight:
                input.form-control(name='weightStart', type='text')
            #form-group
                label Recent Photo(URL):
                input.form-control(name='img', type='text')
            br
            input.btn.btn-primary(type='submit', value='Submit')