extends layout.pug

block content
    .container
        br
        .row
            each client in clientinfo
                .card(style="width: 33%")
                    .card-header
                        .text-center
                            img(src=client.img width="200px" height="200px")
                    .card-body
                    .card-footer
                        .text-center
                            h5.card-title= `${client.name}`
                            p.card-text= `${client.weightStart} lbs`
                            a.button.btn.btn-outline-primary.btn-sm(href="#")= `Profile`
                            a.button.btn.btn-outline-info.btn-sm(href="#")= `E-mail`
                            a.button.btn.btn-outline-danger.btn-sm(href="#")= `Delete`
    .container.text-center
        br
        a.button.btn.btn-primary.btn-block.link(href="/client/add") Add
        br