extends layout.pug

block content
    .container
        h1.text-center Client List 
        ul.list-group
            each client in clientinfo
                li.list-group-item= client.name
                    p= client.weightStart
        br
        button.btn.btn-primary Add
        button.btn.btn-danger Remove
