extends layout.pug

block content
    .container
        h1.text-center Client List 
        ul.list-group
            each client in clientinfo
                li.list-group-item= client.name
                    p= client.weightStart
                    img(src=client.img)
        br
        a.button.btn.btn-primary.link(href="/client/add") Add
        a.button.btn.btn-danger Remove
