extends layout.pug

block content
    a.button.btn.btn-primary(href="/exercises/add") Add Exercise
    a.button.btn.btn-danger Remove Exercise
    .row
        .card(style="width: 33%"    )
            .embed-responsive.embed-responsive-16by9
                iframe(width='1903', height='800', src='https://www.youtube.com/embed/w8sXKHR16JA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body
            .card-footer
                h5.card-title Exercise Name
                p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content
        .card(style="width: 33%")
            .embed-responsive.embed-responsive-16by9
                iframe(width='1903', height='800', src='https://www.youtube.com/embed/w8sXKHR16JA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body
            .card-footer
                h5.card-title Exercise Name
                p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content
        .card(style="width: 33%")
            .embed-responsive.embed-responsive-16by9
                iframe(width='1903', height='800', src='https://www.youtube.com/embed/w8sXKHR16JA', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
            .card-body
            .card-footer
                h5.card-title Exercise Name
                p.card-text
                    | Some quick example text to build on the card title and make up the bulk of the card's content