extends layout.pug

block content
    .container
        h1.text-center User Dashboard
        ul.nav.nav-tabs.text-center
            li.nav-item
                a.nav-link(href='#') Daily Report
            li.nav-item
                a.nav-link(href='#') Photos
            li.nav-item
                a.nav-link(href='#') Notes
        block subcontent