extends sublayout.pug

block subcontent
    .container
        br
        h4.text-center= `Stats for ${Date()}`
        form(method='POST', action='/report')
            .form-group
                label Steps:
                input.form-control(name='steps', type='text')
            .form-group
                label Hours Slept:
                input.form-control(name='hoursSleep', type='text')
            .form-group
                label Worked Out?
                select.custom-select(required='' name='workOutYN')
                    option(value='') Please Select
                    option= true
                    option= false 
                .invalid-feedback Example invalid custom select feedback
            .form-group
                label Notes:
                input.form-control(name='notes', type='text')
            br
            input.btn.btn-primary(type='submit', value='Submit')