extends layout.pug

block content
    .container
        br
        .card
            img(src='img.jpg' alt='John' style='width:100%')
            h1 John Doe
            p.title CEO &amp; Founder, Example
            p Harvard University
            a(href='#')
                i.fa.fa-dribbble
            a(href='#')
                i.fa.fa-twitter
            a(href='#')
                i.fa.fa-linkedin
            a(href='#')
                i.fa.fa-facebook
            p
                button Contact